@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


/* Custom CSS for black theme */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Inter'
  margin: 0;
  padding: 0;
}

body, html {
  background-color: transparent;
}

#header {
  background-color: transparent;
  padding: 20px;
  text-align: center;
}

#header h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  top: 40%
  letter-spacing: 2px;
}

#header img {
  width: 20%;
  height: auto;
}

#content {
  text-align: center;
  padding: 20px;
  margin-top: -4%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  height: 100vh; /* Full screen height to center vertically */
}

#content h1 {
  font-size: 42px;
  cursor:pointer;
  margin-bottom: 20px;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #bdfcec;
}

.seafoam {
    color: #1a9b8a;
    text-shadow: 0 0 30px #1a9b8a, 0 0 50px #1a9b8a, 0 0 80px #1a9b8a;
    animation: colorShift 3s ease-in-out infinite;
}

@keyframes colorShift {
    0% {
      color: #1a9b8a;
    }

    50% {
      color: #00ff99;
    }

    100% {
      color: #1a9b8a;
    }
  }

#searchbar {
  text-align: center;
  margin: 20px auto;
}

.form__input {
  padding: 10px;
  border: 1px;
  border-color: #163333;
  margin-top: 0;
  border-radius: 10px;
  font-size: 16px;
  width: 600px;
  font-family:'Inter';
  box-shadow: 0 0 5px rgba(2, 59, 55, 0.3);
  background-color: #0a1f1f;
  text-align: center;
  color: #fff;
}

a{
  text-decoration: none;
  color:white;
  width:50px;
  height:50px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  align-self: center;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.form_input:hover{
  cursor:cell;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #99ccff;
  font-family: 'Inter', sans-serif;
  width: 100%;
  height:15px;
  background-color: #000;
  padding-top: 7.5px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

#footer p {
  margin: 0;
}

.fa {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}

.fa:hover {
  color: #aaa;
}

.sub-text {
    font-size: 16px;
    text-align: center;
    color: #bdfcec;
    margin-bottom: 20px;
    position: absolute;
    z-index: 1;
    font-family: 'Inter';
    display: inline-block;
    font-weight: normal;
  }
